#Django Config
DEBUG=True
SECRET_KEY=%8t8)hn(-s7f#k+oh47r@&!*9rr858sfco2mk*lb4u@^y!zmd=
ALLOWED_HOSTS=localhost
ALLOWED_ORIGINS=http://localhost
API_PORT=8083

#Cookie Config
COOKIE_SECURE=False
COOKIE_SAMESITE=Lax

#Database Config
DB_HOST=db
DB_NAME=websocket
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres

#Redis Config
REDIS_CACHE_URL=redis://redis:6379/1
REDIS_CHANNELS_URL=redis://redis:6379/2